.pinned__title[data-v-846fe98e]{background-color:#7d5cff;color:#fcfcfc;display:block;padding:2px 8px}.pinned__description[data-v-846fe98e]{background:#38ef7d;color:#000;display:block;padding:2px 8px}
